body {
    --background: #2C303B;
    --backgroundLight: #3b414f;
    --backgroundDark: #242832;
    --primary: rgb(180, 198, 201);

    --secondary: #767b82;

    --tertiary: #00b4d8;


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
    color: white;

    margin: 0;
    padding: 0;
}

.no_access {
    filter: opacity(0.5);
    z-index: -1;
}

.hidden {
    visibility: hidden;
    position: fixed !important;
    top: -1200vh;
}

button:hover {
    cursor: pointer;
}

.board-b72b1 {
    border: 0 !important;
    border-radius: 10px;
    overflow: hidden;
}
.white-1e1d7 {
    background-color: #999da4 !important;
    color: #5c626b !important;
}
.black-3c85d {
    background-color: #717882 !important;
    color: #999da4 !important;
}

.side_bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: var(--backgroundDark);
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.auth_start_element{
    margin-top: 40px;
}
.auth_button {
    color: #749da5 !important;
}
.side_bar div {
    width: 10vw;
    padding: 1vw;
    
    font-size: 1rem;
    text-align:start;
    color: var(--primary);
    background-color: var(--backgroundDark);
}
.side_bar_navigation:hover {
    cursor: pointer !important;
    filter: brightness(1.2);
}

.side_bar_header {
    font-weight: 600;
    color: white !important;
}

.logo {
    width: 7vw;
}

#bottomBoard {
    margin-top: 10px;
    padding-top: 10px;
}

.board_addon {
    height: 60px;
    display: flex;
    align-items: center;
}

.board_addon img {
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

.board_addon p {
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary);

    margin-bottom: auto;
    margin-top: 10px;
    margin-left: 10px;
}

#face_speechbox_container {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    padding: 15px;  
    border-radius: 30px;
    border-top-left-radius: 0;

    width: fit-content;
    background-color: var(--backgroundLight);
    display: flex;
    flex-direction: column;
}

#face_speechbox_container a {
    font-weight: 600;
    color: var(--primary);
}

.icon_button {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 0;
    margin: 5px;
    background-color: var(--backgroundLight);
    border: 3px solid transparent;
    background-repeat: no-repeat;
}

.icon_button:hover {
    filter: brightness(0.8);
}

.create_bot_button {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 0;
    margin: 5px;
    background-color: var(--background);
    border: 3px solid transparent;
    background-repeat: no-repeat;

    color: var(--backgroundLight);
    font-size: 3rem;
}

.create_bot_button:hover{
    filter: brightness(1.2);
}

.selected_bot {
    filter: brightness(1.2);
    border: 3px solid #797f8c;
}
.locked_bot {
    filter: brightness(1.4);
    border: 3px solid white;
}

.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 360px;
}

.main_container {
    max-height: calc(69vh + 50px + 140px);
    display: flex; 
    flex-direction: column; 
    border-radius: 10px; 
    padding: 10px;
    padding-bottom: 0;
}

.bot_selection_container {
    margin-top: auto; 
    position: relative;
    background: var(--backgroundDark);
    border-radius: 10px; 
    border-bottom: 10px solid var(--backgroundDark);
    border-top: 10px solid var(--backgroundDark);

    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    padding-top: 40px;

    overflow-y: scroll;
    overflow-x: hidden;
    height: 30vh;
}
.bot_selection_container a {
    padding: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
    width: calc(100% - 20px);

    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: 0;
}

::-webkit-scrollbar {
    width: 0px;
}
.bot_selection_container::-webkit-scrollbar {
    width: 15px !important;
    border-right: 3px solid var(--backgroundDark);
}
.bot_selection_container::-webkit-scrollbar-track {
    background: var(--backgroundDark) !important;
}
.bot_selection_container::-webkit-scrollbar-thumb {
    background: var(--background) !important;
    border-right: 5px solid var(--backgroundDark);
    border-radius: 100px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    margin-left: 10px;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--backgroundDark);
    border-radius: 1em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--tertiary);
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}


.code_container {
    background: var(--backgroundLight);
    width: 100vw;
    min-height: 90vh;
    padding-bottom: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.sticky_header {
    background-color: rgba(59, 65, 79, 0.25);
    backdrop-filter: blur(5px);

    width: 100vw;
    padding-bottom: 10px;
    border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 1000px;

    display: flex;
    align-items: center;

    top: 0;
    justify-content: center;
    z-index: 2;
}
.code_container h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;

    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;

    width: calc(70vh + 57.5vh - 20px);
    text-align: center;
    color: var(--primary);

    background: var(--backgroundDark);
}
.code_container h1 a {
    color: var(--tertiary);
}
.code_button {
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(203, 203, 203);
    padding: 10px;

    border: 3px solid transparent;

    border-radius: 5px;
    font-size: 1rem;
    background: #475060;

    margin: 5px;
    margin-top: 25px;
}
.code_button:hover {
    filter: brightness(1.2);
}

.code_button:disabled {
    background-color: var(--backgroundLight);
    color: var(--backgroundDark);
}
.code_button:disabled:hover {
    background-color: var(--backgroundLight);
    border-color: transparent;
    cursor: not-allowed;
}
.custom_bot_code_container {
    width: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10vh;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.custom_bot_code_container_collapsed {
    margin-bottom: 0 !important;
}
.custom_bot_code_container_collapsed textarea{
    visibility: hidden;
    position: absolute;
    top: -10000vh;
}
.collapse_button {
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(203, 203, 203);
    background-color: transparent;
    padding: 5px;

    border: 3px solid transparent;

    border-radius: 5px;
    font-size: 0.75rem;
    width: 25px;
    height: 25px;

    position: absolute;
    top: 2.5px;
    right: 5px;
}
.collapse_button:hover {
    filter: brightness(1.2);
}
.codeInputHeader {
    outline: none;
    border: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: var(--backgroundDark);

    margin: 0;
    padding: 10px;
    font-family: monospace;
    color: var(--primary);
    resize: none;
    font-family: 'code';


    width: calc(70vh + 57.5vh - 20px);
}
.code_input {
    outline: none;
    border: 0;
    background-color: var(--backgroundDark);

    margin: 0;
    padding: 10px;
    color: white;
    resize: none;

    font-family: 'code';


    width: calc(70vh + 57.5vh - 20px);
}
.code_options {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--background);

    display: flex;

    margin: 0;
    padding: 10px;
    width: calc(70vh + 57.5vh - 20px);
}

.save_button {
    background-color: #869b7a;
}

.template_button {
    background-color: #7a7b9b;
    margin-left: 10px;
}

.trash_button {
    margin-left: auto!important;
    background-color: #BB4430;
}

.code_options button {
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;

    border: 3px solid transparent;

    border-radius: 5px;
    font-size: 1rem;
}

.code_options button:hover {
    filter: brightness(1.2);
}

.code_options button:disabled {
    background-color: var(--backgroundLight);
    color: var(--backgroundDark);
}
.code_options button:disabled:hover {
    background-color: var(--backgroundLight);
    border-color: transparent;
    cursor: not-allowed;
}

.start_button {
    margin-left: 10px;
    background-color: #869b7a;

    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;

    border: 3px solid transparent;

    border-radius: 5px;
    font-size: 1rem;
}

.start_button:hover {
    filter: brightness(1.2);
}

.start_button:disabled {
    background-color: var(--backgroundLight);
    color: var(--backgroundDark);
}
.start_button:disabled:hover {
    background-color: var(--backgroundLight);
    border-color: transparent;
    cursor: not-allowed;
}

.resign_button {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #BB4430;

    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;

    border: 3px solid transparent;

    border-radius: 5px;
    font-size: 1rem;
}

.resign_button:hover {
    filter: brightness(1.2);
}

#restart {
    margin-left: auto;
    background-color: #7a7b9b;

    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;

    border: 3px solid transparent;

    border-radius: 5px;
    font-size: 1rem;
}

#restart:hover {
    filter: brightness(1.2);
}

#restart:disabled {
    background-color: var(--backgroundLight);
    color: var(--backgroundDark);
}
#restart:disabled:hover {
    background-color: var(--backgroundLight);
    border-color: transparent;
    cursor: not-allowed;
}

.templates_popup_container {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    width: 50vh;

    transform: translate(-50%, -50%);
    z-index: 5;
}
.templates_popup {
    position: relative;
    width: 50vh;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.templates_popup_header {
    position: absolute;
    top: -5vh;
    left: 50%;
    transform: translate(-50%, 0);

    width: 60%;
    height: 10vh;

    background: linear-gradient(56deg, rgba(20,66,173,1) 0%, rgba(159,209,255,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;

    font-size: 3rem;
    text-align: center;
    border-radius: 10px;
}
.templates_popup_body {
    padding: 2vh;
    padding-top: 15vh;

    display: grid;
    grid-template-columns: auto auto;

    margin: auto;
}
.templates_popup_body button {
    font-size: 1rem;
    width: 20vh;
    height: 10vh;
    margin: 10px;

    background-color: var(--backgroundLight);

    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;

    border: 3px solid transparent;

    border-radius: 5px;
    font-size: 1rem;
}
.templates_popup_body button:hover {
    filter: brightness(1.2);
}
.templates_popup_footer {
    background-color: var(--backgroundDark);
    width: calc(100% - 20px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: row-reverse;
}
.cancel_button{
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;

    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;

    border: 3px solid transparent;

    border-radius: 5px;
    font-size: 1rem;
}
.cancel_button:hover {
    filter: brightness(1.2);
    text-decoration: underline;
}

.mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 4;
}

.bot_container {
    margin-top: 20px;
}

.fen_container {
    margin-top: 20px; 
    position: relative;
    background: var(--backgroundDark);
    border-radius: 10px; 
    border-bottom: 10px solid var(--backgroundDark);
    border-top: 10px solid var(--backgroundDark);

    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    padding-top: 50px;

    overflow-y: scroll;
    overflow-x: hidden;
}
.fen_container input {
    font-family: 'code';
    color: var(--primary);
    background-color: var(--backgroundDark);
    border-radius: 0;
    border: 0;
    outline: 0;
    width: 460px;
}
.fen_container a {
    padding: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
    width: calc(100% - 20px);

    font-size: 1rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    top: 0;
}

.open_docs {
    color: var(--backgroundLight);
}
.open_docs:hover {
    color: var(--primary);
    cursor: pointer;
}
@font-face {
    font-family: "code";
    src:
    url("./font/JetBrainsMono-Regular.ttf")
  }