body {
    font-family: 'main';
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    color: white;

    margin: 0;
    padding: 0;
}
.dark {
    --background: #2C303B;
    --backgroundLight: #242832;
    --backgroundDark: #4f5768;
    --fontColor: #c1cee0;

    --botSelectionBG: url('./img/bot_selection_bg_dark.svg');
    --codeBackground: #242832;

    --boxShadow: #151820;
    --sideBarBackground: #161921;
    --sideBarHeader: #80899b;
    --sideBarFont: #4f5768;
    --botSpeech: #242832;

    --workShopMain: #4f5768;
    --workShopAlt: #2C303B;

    --secondary: #1877F2;
    --secondaryLight: #afd2ff;
    --fontColorBlend: #4f5768;

    --tertiary: #ffd8be;
    --tertiary: #ffeedd;
    background-color: var(--background) !important;
}
.light {
    --background: #f4f4f4;
    --backgroundLight: #ffffff;
    --backgroundDark: #d6d7db;
    --fontColor: #0C0F0A;

    --botSelectionBG: url('./img/bot_selection_bg_light.svg');
    --codeBackground: #eee;

    --boxShadow: #d6d7db;
    --sideBarBackground: #ffffff;
    --sideBarHeader: #1877F2;
    --sideBarFont: #4f5768;
    --botSpeech: #f4f4f4;

    --workShopMain: #1877F2;
    --workShopAlt: #afd2ff;

    --secondary: #1877F2;
    --secondaryLight: #afd2ff;
    --fontColorBlend: #b4b4b7;

    --tertiary: #ffd8be;
    --tertiary: #ffeedd;
    background-color: #eee !important;
}

.no_access {
    z-index: -1;
}
.no_opacity {
    filter: opacity(0.5);
}

.hidden {
    visibility: hidden;
    position: fixed !important;
    top: -1200vh;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:hover {
    cursor: pointer;
}

.board-b72b1 {
    border: 0 !important;
    border-radius: 10px;
    overflow: hidden;
}
.white-1e1d7 {
    background-color: #999da4 !important;
    color: #5c626b !important;
}
.black-3c85d {
    background-color: #717882 !important;
    color: #999da4 !important;
}

.side_bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: var(--sideBarBackground);
    box-shadow: var(--boxShadow) 0px 3px 8px;
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.dark_mode{
    margin-top: auto;
    font-weight: 500;
    color: #c6d3d5 !important;
}
.light_mode{
    margin-top: auto;
    font-weight: 500;
    color: #749da5 !important;
}
.side_bar div {
    width: 10vw;
    padding: 1vw;
    
    font-size: 1rem;
    font-family: 'bold';
    text-align:start;
    color: var(--sideBarFont);
    background-color: var(--sideBarBackground);
}
.side_bar_navigation:hover {
    cursor: pointer !important;
    filter: brightness(1.05);
}

.side_bar_header {
    font-weight: 500;
    font-family: 'header_main' !important;
    font-size: 1.25rem !important;
    color: var(--sideBarHeader) !important;
    border-bottom: 2px solid var(--background);
}

.logo {
    width: 7vw;
}

#bottomBoard {
    margin-top: 10px;
    padding-top: 10px;
}

.board_addon {
    height: 60px;
    display: flex;
    align-items: center;
}

.board_addon img {
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

.board_addon p {
    font-weight: 500;
    font-family: 'header_main';
    font-size: 1.2rem;
    color: var(--fontColor);

    margin-bottom: auto;
    margin-top: 10px;
    margin-left: 10px;
}

#face_speechbox_container {
    font-family: 'main';
    margin-left: 10px;
    padding: 15px;  
    border-radius: 30px;
    border-top-left-radius: 0;

    width: fit-content;
    background-color: var(--botSpeech);
    color: var(--fontColor);
    display: flex;
    flex-direction: column;
}

#face_speechbox_container a {
    font-weight: 500;
    color: var(--fontColor);
}

.icon_button {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 0;
    margin: 5px;
    border: 3px solid var(--background);
    border-image-outset: 150px;
    background-color: transparent;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_button img {
    border-radius: 5px; 
    padding: 5px;
}

.create_bot_button {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 0;
    margin: 5px;
    border: 2px solid transparent;
    background-repeat: no-repeat;

    background-color: var(--backgroundLight);
    color: var(--backgroundDark);
    font-size: 3rem;
}

.create_bot_button:hover{
    filter: brightness(0.95);
}

.selected_bot {
    border: 3px solid var(--secondaryLight);
}
.selected_bot img {
    background-color: rgba(172, 208, 255, 0.25);
}
.locked_bot {
    border: 3px solid var(--secondary);
}
.locked_bot img {
    background-color: rgba(24, 119, 242, 0.25);
}

.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 360px;
}

.main_container {
    max-height: calc(69vh + 50px + 140px);
    background: var(--botSelectionBG);
    background-size: cover;
    display: flex; 
    flex-direction: column; 
    border-radius: 10px; 
    padding: 10px;
    padding-bottom: 0;
}

.bot_selection_container {
    margin-top: auto; 
    position: relative;
    background: var(--backgroundLight);
    border-radius: 10px; 
    
    border-top: 10px solid var(--backgroundLight);
    border-bottom: 10px solid var(--backgroundLight);

    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    padding-top: 40px;

    overflow-y: scroll;
    max-height: 30vh;
}
.bot_selection_container a {
    padding: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
    width: calc(100% - 20px);
    color: var(--fontColor);

    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top: 0;
}

::-webkit-scrollbar {
    width: 0px;
}
.bot_selection_container::-webkit-scrollbar {
    width: 15px !important;
    border-right: 3px solid var(--backgroundLight);
}
.bot_selection_container::-webkit-scrollbar-track {
    background: var(--backgroundLight) !important;
}
.bot_selection_container::-webkit-scrollbar-thumb {
    background: var(--background) !important;
    border-right: 5px solid var(--backgroundLight);
    border-radius: 100px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: var(--backgroundLight);
    margin: 0;
    margin-left: 10px;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--secondary);
    border-radius: 1em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--secondaryLight);
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}


.code_container {
    background: var(--codeBackground);
    width: 100vw;
    min-height: 90vh;
    padding-bottom: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.sticky_header {

    width: 100vw;
    padding-bottom: 10px;
    border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 1000px;

    display: flex;
    align-items: center;

    top: 0;
    justify-content: center;
    z-index: 2;
}
.code_container h1 {
    font-family: 'header_main';
    font-weight: 400;
    font-size: 2.5rem;
    border-radius: 5px;

    padding-top: 10px;
    padding-bottom: 10px;

    width: fit-content;
    text-align: center;
    border-bottom: 5px solid var(--workShopAlt);
    border-top: 5px solid var(--workShopAlt);
    color: var(--workShopMain);
}
.code_container h1 a {
    color: var(--secondary);
}
.code_button {
    font-weight: 500;
    font-family: 'bold';
    color: var(--fontColorBlend);
    padding: 10px;

    border: 3px solid transparent;

    border-radius: 5px;
    font-size: 1rem;
    background: var(--background);

    margin: 5px;
    margin-top: 25px;
}
.code_button:hover {
    filter: brightness(0.95);
}

.code_button:disabled {
    background-color: transparent;
    color: var(--backgroundDark);
}
.code_button:disabled:hover {
    background-color: var(--backgroundLight);
    border-color: transparent;
    cursor: not-allowed;
}
.custom_bot_code_container {
    width: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5vh;
    margin-top: 20px;
    box-shadow: var(--boxShadow) 0px 3px 8px;
}
.custom_bot_code_container_collapsed {
    margin-bottom: 0 !important;
}
.custom_bot_code_container_collapsed textarea{
    visibility: hidden;
    position: absolute;
    top: -10000vh;
}
.collapse_button {
    font-weight: 600;
    font-family: 'main';
    color: var(--secondary);
    background-color: transparent;
    padding: 5px;

    border: 3px solid transparent;

    border-radius: 5px;
    font-size: 0.75rem;
    width: 25px;
    height: 25px;

    position: absolute;
    top: 2.5px;
    right: 5px;
}
.collapse_button:hover {
    filter: brightness(1.2);
}
.codeInputHeader {
    outline: none;
    border: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: var(--background);

    margin: 0;
    padding: 10px;
    color: var(--fontColor);
    resize: none;
    font-family: 'code';


    width: calc(70vh + 57.5vh - 20px);
}
.code_input {
    outline: none;
    border: 0;
    background-color: var(--backgroundLight);

    margin: 0;
    padding: 10px;
    color: var(--fontColor);;
    resize: none;

    font-family: 'code';


    width: calc(70vh + 57.5vh - 20px);
}
.code_options {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--backgroundLight);

    display: flex;

    margin: 0;
    padding: 10px;
    width: calc(70vh + 57.5vh - 20px);
}

.template_button {
    margin-left: 10px;
}

.trash_button {
    margin-left: auto!important;
}

.code_options button {
    font-weight: 600;
    font-family: 'main';
    color: var(--secondary);
    background-color: transparent;
    padding: 10px;

    border: 2px solid transparent;

    border-radius: 5px;
    font-size: 1rem;
}

.code_options button:hover {
    background-color: rgba(24, 119, 242, 0.25);
}

.code_options button:disabled {
    background-color: transparent;
    color: var(--backgroundDark);
}
.code_options button:disabled:hover {
    background-color: var(--backgroundLight);
    border-color: transparent;
    cursor: not-allowed;
}

.start_button, .resign_button, #restart {
    margin-left: 5px;
    background-color: var(--backgroundLight);

    font-weight: 500;
    font-family: 'bold';
    color: var(--secondary);
    padding: 15px;

    border: 0;

    border-radius: 50px;
    font-size: 1rem;
}

#restart {
    margin-left: auto;
}

.start_button:hover, .resign_button:hover, #restart:hover {
    background-color: rgba(24, 119, 242, 0.25);
}

.start_button:disabled, .resign_button:disabled, #restart:disabled {
    background-color: transparent;
    color: var(--backgroundDark);
}
.start_button:disabled:hover, .resign_button:disabled:hover, #restart:disabled:hover {
    background-color: var(--backgroundLight);
    cursor: not-allowed;
}


.templates_popup_container {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    width: 50vh;

    transform: translate(-50%, -50%);
    z-index: 5;
}
.templates_popup {
    position: relative;
    width: 50vh;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.templates_popup_header {
    position: absolute;
    top: -5vh;
    left: 50%;
    transform: translate(-50%, 0);

    width: 60%;
    height: 10vh;

    background: linear-gradient(56deg, var(--secondary) 0%, var(--secondaryLight) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;

    font-size: 3rem;
    text-align: center;
    border-radius: 10px;
}
.templates_popup_body {
    padding: 2vh;
    padding-top: 15vh;

    display: grid;
    grid-template-columns: auto auto;

    margin: auto;
}
.templates_popup_body button {
    font-size: 1rem;
    width: 20vh;
    height: 10vh;
    margin: 10px;

    background-color: var(--backgroundLight);

    font-weight: 500;
    font-family: 'main';
    color: white;
    padding: 10px;

    border: 2px solid transparent;

    border-radius: 5px;
    font-size: 1rem;
}
.templates_popup_body button:hover {
    border: 2px solid var(--backgroundLight);
    filter: brightness(1.2);
}
.templates_popup_footer {
    background-color: var(--backgroundDark);
    width: calc(100% - 20px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: row-reverse;
}
.cancel_button{
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;

    font-weight: 500;
    font-family: 'main';
    color: var(--fontColor);
    padding: 10px;

    border: 2px solid transparent;

    border-radius: 5px;
    font-size: 1rem;
}
.cancel_button:hover {
    filter: brightness(1.2);
    text-decoration: underline;
}

.mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 4;
}

.bot_container {
    margin-top: 20px;
}

.fen_container {
    margin-top: 20px; 
    position: relative;
    background: var(--background);
    border-radius: 10px; 
    border-bottom: 10px solid var(--backgroundLight);
    border-top: 10px solid var(--backgroundLight);

    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    padding-top: 50px;
    color: var(--fontColor);

    overflow-y: scroll;
    overflow-x: hidden;
}
.fen_container input {
    font-family: 'code';
    color: var(--fontColor);
    background: var(--background);
    border-radius: 0;
    border: 0;
    outline: 0;
    width: 460px;
}
.fen_container a {
    padding: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
    width: calc(100% - 20px);

    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'header_main';
    color: var(--fontColor);
    position: absolute;
    top: 0;
}

.open_docs {
    color: var(--backgroundLight);
}
.open_docs:hover {
    filter: brightness(1.5);
    cursor: pointer;
}
@font-face {
    font-family: "code";
    src:
    url("./font/JetBrainsMono-Regular.ttf")
  }
@font-face {
    font-family: 'light';
    src: url('./font/Inter-Light.ttf');
}
@font-face {
    font-family: 'main';
    src: url('./font/Inter-Regular.ttf');
}
@font-face {
    font-family: 'bold';
    src: url('./font/Inter-Medium.ttf');
}

@font-face {
    font-family: 'header_light';
    src: url('./font/youtube-sans-light.ttf');
}
@font-face {
    font-family: 'header_main';
    src: url('./font/youtube-sans-medium.ttf');
}
@font-face {
    font-family: 'header_bold';
    src: url('./font/youtube-sans-bold.ttf');
}